.App {
  text-align: center;
  
}

body{
  background-image: url(./pics/undraw_texting_re_l11n.svg);
  background-repeat: no-repeat;
  background-size : 850px;
     
}
 


.rounddiv {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(213, 213, 213);
  border: 0.15rem solid rgb(55, 255, 65);
  border-style: outset;


} 

h1{
  font-size: 1rem;
}


.line{
  
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 7px;

} 

 
img{
  height: 60px;
  width: 60px;
  object-fit:contain;
  border-radius: 50%;
 

} 

hr{
  width: 70%;
}

.mainpage{
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
}

button{
  width: 20%;
  margin: 8px;
  border: 0.09rem dashed grey;
  
}


.f{
  display: inline-flex;
}